<div class="flex gap-2">
    <div (click)="selectColor('EFE95E')" class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
        <div class="h-6 w-6 bg-[#EFE95E] rounded-full"></div>
    </div>
    <div (click)="selectColor('36E767')" class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
        <div class="h-6 w-6 bg-[#36E767] rounded-full"></div>
    </div>
    <div (click)="selectColor('6B97EE')" class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
        <div class="h-6 w-6 bg-[#6B97EE] rounded-full"></div>
    </div>
    <div (click)="selectColor('F4A56C')" class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
        <div class="h-6 w-6 bg-[#F4A56C] rounded-full"></div>
    </div>
    <div (click)="selectColor('F08787')" class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
        <div class="h-6 w-6 bg-[#F08787] rounded-full"></div>
    </div>
    <div (click)="selectColor('2487C1')" class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
        <div class="h-6 w-6 bg-[#2487C1] rounded-full"></div>
    </div>
</div>