.colour-selection {
    position: relative;
}

.colour-selection::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    border-radius: 50%;

    top: 3.3px;
    bottom: 3.3px;
    left: 3.3px;
    right: 3.3px;
    border: 2px solid white;
}

.color-box {
    position: relative;

    .hidden-input {
        // display: none;
        opacity: 0;
        position: absolute;
        top: 150px;
        right: 70px;
        cursor: pointer;
    }
}