<span id="sp_close_icon" role="closePopup" ngbTooltip="Close" container="body" name="close_icon"
    class="absolute top-0 right-0 m-2 text-2xl bg-gray-200 rounded-[50%] h-8 w-8 text-center cursor-pointer hover:bg-gray-300"
    (click)="modalClose()" aria-label="closeIicon">

    <i class="bi bi-x"></i>
</span>
<div class=" bg-gray-100 text-gray-900 flex justify-center">
    <div class="max-w-screen-xl m-0 sm:m-10 bg-white shadow sm:rounded-lg flex justify-center flex-1">

        <div class="flex-1 bg-green-100 text-center hidden lg:flex">
            <div class="m-12 xl:m-16 bg-contain bg-center bg-no-repeat">
            </div>
        </div>

        <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
            <div class="flex gap-2 justify-center items-center font-bold">
                <svg viewBox="0 0 348 224" fill="currentColor" class="h-8 w-8 text-[#1755E7]"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M104.101 0H150.62L45.8079 224H0L104.101 0Z" fill="currentColor" class="text-[#1755E7]" />
                    <path d="M116.37 31.8296L150.62 0L235.685 183.132H186.771L116.37 31.8296Z" fill="currentColor"
                        class="text-[#1755E7]" />
                    <path d="M200.768 202.563L244.853 202.538L252.832 223.657L209.527 223.682L200.768 202.563Z"
                        fill="currentColor" class="text-[#1755E7]" />
                    <path d="M169.126 0L261.729 0.00328195L262.346 48.3981H190.948L169.126 0Z" fill="currentColor"
                        class="text-[#1755E7]" />
                    <path d="M109.113 140.135L253.071 140.139V183.639L88.3817 183.636L109.113 140.135Z"
                        fill="currentColor" class="text-[#1755E7]" />
                    <path
                        d="M253.071 183.639V140.139C307.486 134.595 316.589 55.4174 262.346 48.3981L261.729 0.00328195C311.076 0.00328195 348 45.157 348 94.3404C348 142.329 309.849 181.688 261.729 183.342L253.071 183.639Z"
                        fill="currentColor" class="text-[#1755E7]" />
                    <defs>
                        <linearGradient id="paint0_linear_337_813" x1="108.022" y1="11.9628" x2="305.905" y2="224.684"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.405" stop-color="#F5527A" />
                            <stop offset="1" stop-color="#FF512A" />
                        </linearGradient>
                        <linearGradient id="paint1_linear_337_813" x1="108.022" y1="11.9628" x2="305.905" y2="224.684"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.405" stop-color="#F5527A" />
                            <stop offset="1" stop-color="#FF512A" />
                        </linearGradient>
                        <linearGradient id="paint2_linear_337_813" x1="108.022" y1="11.9628" x2="305.905" y2="224.684"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.405" stop-color="#F5527A" />
                            <stop offset="1" stop-color="#FF512A" />
                        </linearGradient>
                        <linearGradient id="paint3_linear_337_813" x1="108.022" y1="11.9628" x2="305.905" y2="224.684"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.405" stop-color="#F5527A" />
                            <stop offset="1" stop-color="#FF512A" />
                        </linearGradient>
                        <linearGradient id="paint4_linear_337_813" x1="108.022" y1="11.9628" x2="305.905" y2="224.684"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.405" stop-color="#F5527A" />
                            <stop offset="1" stop-color="#FF512A" />
                        </linearGradient>
                        <linearGradient id="paint5_linear_337_813" x1="108.022" y1="11.9628" x2="305.905" y2="224.684"
                            gradientUnits="userSpaceOnUse">
                            <stop offset="0.405" stop-color="#F5527A" />
                            <stop offset="1" stop-color="#FF512A" />
                        </linearGradient>
                    </defs>
                </svg> Quick<span class="text-[#1755E7]">Notes</span>
            </div>
            <div class="flex flex-col items-center">
                <div class="w-full flex-1 mt-6">
                    <form [formGroup]="loginForm" (ngSubmit)="logIn()">

                        <div class="mt-6">
                            <label for="email" class="block text-sm font-medium leading-5  text-gray-700">
                                Email address
                            </label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <input id="email" name="email" placeholder="user@example.com" type="email"
                                    formControlName="email" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5
                            ">
                                <div
                                    class="hidden absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                    <svg class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="mt-6">
                            <label for="password" class="block text-sm font-medium leading-5 text-gray-700">
                                Password
                            </label>
                            <div class="mt-1 rounded-md shadow-sm">
                                <input id="password" name="password" type="password" formControlName="password"
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                            </div>
                        </div>

                        <div class="mt-6">
                            <span class="block w-full rounded-md shadow-sm">
                                <button type="submit"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-[#1755E7] focus:outline-none focus:border-blue-700 focus:shadow-outline-indigo active:bg-blue-700 transition duration-150 ease-in-out">
                                    Sign In
                                </button>
                            </span>
                        </div>

                        <p class="text-sm font-light mt-6 text-gray-500 dark:text-gray-400">Don't have an account? <a
                                class="font-medium text-blue-600 hover:underline dark:text-blue-500"
                                href="javascript:void(0)" (click)="openRegister()">Sign
                                up here</a>
                        </p>

                        <p class="mt-6 text-xs text-gray-600 text-center">
                            I agree to abide by Cartesian Kinetics
                            <a href="#" class="border-b border-gray-500 border-dotted">
                                Terms of Service
                            </a>
                            and its
                            <a href="#" class="border-b border-gray-500 border-dotted">
                                Privacy Policy
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>