<div class="h-6"></div>
<div class="mx-8 h-full">
    <div class=" w-[100%]  mr-8 rounded-md ">
        <div
            class="flex font-bold text-sm gap-2 justify-between rounded-md text-[#161B25] dark:text-gray-300 items-center bg-white dark:!bg-[#303030] px-3 py-2">
            <div class="">
                <i class="bi bi-stickies text-xl mr-2"></i>
                <span>Sticky Notes</span>
            </div>
            <div class="flex gap-2">
                <div *ngIf="isColorVisible" class="flex gap-2">
                    <div (click)="createNotes('daf7a1')"
                        class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
                        <div class="h-6 w-6 bg-[#daf7a1] rounded-full"></div>
                    </div>
                    <div (click)="createNotes('ffc000')"
                        class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
                        <div class="h-6 w-6 bg-[#ffc000] rounded-full"></div>
                    </div>
                    <div (click)="createNotes('6ed8fa')"
                        class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
                        <div class="h-6 w-6 bg-[#6ed8fa] rounded-full"></div>
                    </div>
                    <div (click)="createNotes('ffcee0')"
                        class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
                        <div class="h-6 w-6 bg-[#ffcee0] rounded-full"></div>
                    </div>
                    <div (click)="createNotes('b6d7a8')"
                        class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
                        <div class="h-6 w-6 bg-[#b6d7a8] rounded-full"></div>
                    </div>
                    <div (click)="createNotes('8ca0ff')"
                        class=" rounded-full h-9 w-9 flex items-center justify-center cursor-pointer">
                        <div class="h-6 w-6 bg-[#8ca0ff] rounded-full"></div>
                    </div>
                </div>
                <button (click)="selectColor()"
                    class="bg-[#1755E7] rounded-full h-9 w-9 flex items-center justify-center text-white cursor-pointer">
                    <!-- <i class="bi bi-file-earmark-plus-fill"></i> -->
                    <i class="bi bi-plus-lg font-bold"></i>
                </button>

            </div>
        </div>
        <ng-template #notesList>

            <div class="flex flex-row py-2 mt-3 gap-2 items-center justify-between text-[#07485B]">
                <form [formGroup]="StickyNote" class="flex flex-row gap-9 flex-wrap w-[100%]">
                    <ng-container *ngFor="let note of notesItem">
                        <div class="p-3 w-[318px] bg-[#{{note.color}}] rounded-md" (click)="editNote(note._id)">
                            <div class="flex justify-between items-start">
                                <!-- <span 
                                    class="font-bold">{{note.title}}</span> -->
                                <input
                                    class="outline-none w-full bg-transparent border-none active:border-none active:outline-none font-bold appearance-none focus:outline-none focus:ring-0"
                                    type="text" [formControlName]="note._id+'name'" id="title" name="title"
                                    placeholder="Note title">
                                <i class="bi bi-three-dots-vertical"></i>
                            </div>
                            <div class="mt-1">
                                <div class="flex flex-col gap-1">
                                    <!-- <span class="text-sm font-medium">{{note.description}}</span> -->
                                    <textarea
                                        class=" resize-none outline-none bg-transparent border-none h-48 appearance-none focus:outline-none focus:ring-0"
                                        name="noteDescription" [formControlName]="note._id+'desc'" id="noteDescription"
                                        cols="30" placeholder="Start writing your note....."></textarea>
                                </div>
                                <div class="flex items-center gap-2 justify-between text-xs mt-8">
                                    <div class="flex items-center gap-2">
                                        <i class="bi bi-clock-fill"></i>
                                        <span>{{note.createdAt | customDate}}</span>
                                    </div>
                                    <div class="text-[#07485B] font-bold flex flex-row ">
                                        <div
                                            class="hover:bg-[#f9f8bb] h-6 w-6 rounded-full flex items-center justify-center cursor-pointer">
                                            <i class="bi bi-palette-fill"></i>

                                        </div>
                                        <div
                                            class="hover:bg-[#f9f8bb] h-6 w-6 rounded-full flex items-center justify-center cursor-pointer">

                                            <i class="bi bi-mic-fill"></i>
                                        </div>
                                        <div
                                            class="hover:bg-[#f9f8bb] h-6 w-6 rounded-full flex items-center justify-center cursor-pointer">

                                            <i class='bx bx-hash'></i>
                                        </div>
                                        <div (click)="deleteStickyNote(note._id)"
                                            class="hover:bg-[#f9f8bb] h-6 w-6 rounded-full flex items-center justify-center cursor-pointer">

                                            <i class="bi bi-trash3-fill"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </form>
            </div>
        </ng-template>


        <div *ngIf="notesItem.length === 0; else notesList">
            <p>No notes available. Create one.</p>
            <!-- Add a button or link here to trigger the note creation process -->
            <button (click)="createNotes('color')">Create Note</button>
        </div>
    </div>

</div>