.main-body {
    position: relative;
    background: #F0F2F5;
    // background: $secondary-bgcolor;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.main-body.collapsed {
    left: 78px;
    width: calc(100% - 78px);
}