<section>
    <div
        class="flex font-bold text-sm gap-2 justify-between  text-[#161B25] dark:text-gray-300 items-center bg-white dark:!bg-[#303030] px-3 py-2">
        <div class="">
            <i class="bi bi-journal-richtext mr-2"></i>
            <span>Journal</span>
        </div>
        <div class="flex gap-2">

            <button
                class="bg-[#1755E7] rounded-full h-7 w-7 flex items-center justify-center text-white cursor-pointer">
                <i class="bi bi-plus-lg "></i>
            </button>

        </div>
    </div>
</section>