<div class="tobar-content">
    <div class="top-bar shadow-md dark:bg-[#181818] dark:border-b-2 dark:border-[#383838]">
        <div class="top-bar-options">
            <div class="message dark:bg-[#303030]">
                <i class="bi bi-chat-dots"></i>
            </div>

            <!-- notification -->

            <!-- end notification -->
            <div class="notification bg-[#F0F2F5] dark:bg-[#303030]">
                <i class="bi bi-bell"></i>
            </div>


            <!-- avtar and dropdown -->
            <div class="action">
                <div class="profile" (click)="profileToggle();">
                    <img src="../../../../assets/images/avatar.jpg" />
                </div>
                <div class="menu flex flex-col text-sm drop-shadow-xl shadow-inner">
                    <!-- <h4>Someone Famous<br /><span>Website Designer</span></h4> -->
                    <div class=" profile-info flex w-full gap-2 justify-between">
                        <div class="w-8 h-8 rounded-full">
                            <img src="../../../../assets/images/avatar.jpg" class="rounded-full" />
                        </div>
                        <div class="flex flex-col justify-start items-start">
                            <span class="text-sm">Abc&#64;xyz.com</span>
                            <span class="text-sm text-left">admin</span>
                        </div>
                    </div>
                    <ul class="text-xs w-full">
                        <li>
                            <i class="bi bi-person"></i><a href="#">My profile</a>
                        </li>
                        <li>
                            <i class="bi bi-pencil-square"></i><a href="#">Edit profile</a>
                        </li>
                        <li>
                            <i class="bi bi-gear"></i><a href="#">Setting</a>
                        </li>
                        <li><i class="bi bi-question-octagon"></i><a href="#">Help</a></li>
                        <li (click)="logout()">
                            <i class="bi bi-box-arrow-left"></i><a>Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end  avtar and dropdown -->

        </div>
    </div>
</div>