// tool-box.component.scss

.button-default:not([disabled]) {
    &:hover {
        background-color: #F0F2F5;
        color: #1755E7;
    }
}

.button-disabled {
    background-color: #F0F2F5; // Background color for disabled state
    color: #666; // Text color for disabled state
}

.button-disabled:hover {
    background-color: #F0F2F5; // Keep the background color the same on hover
    color: #666; // Keep the text color the same on hover
}