<div class="fixed inset-0 flex items-center justify-center z-50 ">
    <div class="bg-white p-4 rounded-lg shadow-lg w-96">
        <div class="pt-1 pb-4 rounded-t-lg flex justify-between">
            <h4 class="text-lg font-semibold text-blue-600 inline-block text-center">
                <i class="bi bi-brush-fill"></i>&nbsp;&nbsp;
                Create canvas
            </h4>
            <button type="button"
                class="text-gray-700 hover:text-gray-900 h-8 w-8 text-lg border-none outline-none rounded-full bg-gray-100"
                aria-label="Close" (click)="modalClose()">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <div class="pl-2 pr-6 font-bold ">
            <form action="">
                <input type="text" placeholder="Enter Canvas title..."
                    class="w-full bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200">
            </form>
        </div>
        <div class="pt-6 rounded-b-lg flex justify-end">
            <button type="button"
                class="text-[#07485B] bg-gray-100 hover:bg-gray-300 px-4 py-2 rounded">Cancel</button>&nbsp;
            <button type="button" class="text-white bg-rose-500 hover:bg-rose-600 px-4 py-2 rounded">Create</button>
        </div>
    </div>
</div>